.container {
    background-color: rgb(162, 89, 255);
}

.body {
    width: 150px;
    height: 150px;
    perspective:500px;
    background-color: rgb(162, 89, 255);
}

.cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(0deg, rgba(70, 70, 70, 0.2) 0px, rgba(31, 3, 3, 0.2) 1px, transparent 1px, transparent 21px), repeating-linear-gradient(90deg, rgba(70, 70, 70, 0.2) 0px, rgba(70, 70, 70, 0.2) 1px, transparent 1px, transparent 21px), linear-gradient(90deg, rgb(253, 131, 74), rgb(153, 77, 15));
}

.top {
    transform: rotateX(90deg) translateZ(75px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(75px);
}

.right {
    transform: rotateY(90deg) translateZ(75px);
}

.left {
    transform: rotateY(-90deg) translateZ(75px);
}

.front {
    transform: rotateX(0deg) translateZ(75px);
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin 10s infinite linear;
}

.back {
    transform: rotateX(-180deg) translateZ(75px);
}