 .container{
    background-color:#151A21;
    padding: 0;
    margin:0;
  }
  .logo{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(200px) rotateY(-25deg);
    height:215px;
    width:255px;
  }
  .logo span{
    top: 0;
    left: 0;
    height: 85px;
    width: 100px;
    position: absolute;
    background: #00adef;
  }
  .logo span:nth-child(2){
    top: 0;
    left: 42%;
  }
  .logo span:nth-child(3){
    top: 43%;
    left: 0%;
  }
  .logo span:nth-child(4){
    top: 43%;
    left: 42%;
  }
  