.container{
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
}
.myntra{
    position: relative;
    height: 150px;
    width: 150px;
}
.myntra div{
    position: absolute;
    width: 40px;
    height: 129px;
    border-radius: 50%;
}
.myntra div:nth-child(1){
    background: #FF0090;
    left:0;
    top:10px;
    transform: rotate(20deg);
}
.myntra div:nth-child(2){
    background: #FD913c;
    left:40px;
    top:10px;
    transform: rotate(-20deg);
}
.myntra div:nth-child(3){
    background: #F05524;
    left:80px;
    top:10px;
    transform: rotate(20deg);
}
.myntra div:nth-child(4){
    background: #FF009D;
    left:120px;
    top:10px;
    transform: rotate(-20deg);
}
