.container {
  background-color: gray;
}

.outerCircle{
  height: 175px;
  width:175px;
  border-radius:175px;
  background-color: white;
}

.firstRow{
  height: 25px;
  width: 65px;
  background: black;
  transform: rotate(-45deg);
  position: absolute;
  margin-top: 30px;
  margin-left: 38px;
}

.secondRowLong{
  height: 25px;
  width: 106px;
  background: black;
  transform: rotate(45deg);
  position: absolute;
  margin-top: 74px;
  margin-left: 32px;
}

.thirdRow{
  height: 25px;
  width: 66px;
  background: black;
  transform: rotate(-45deg);
  position: absolute;
  margin-top: 120px;
  margin-left: 69px;
}

.fourthRowLong{
  height: 25px;
  width: 105px;
  background: black;
  transform: rotate(-45deg);
  position: absolute;
  margin-top: 75px;
  margin-left: 35px;
}

.fifthRow{
  height: 25px;
  width: 69px;
  background: black;
  transform: rotate(45deg);
  position: absolute;
  margin-top: 62px;
  margin-left: 98px;
}

.sixthRow{
  height: 25px;
  width: 68px;
  background: black;
  transform: rotate(45deg);
  position: absolute;
  margin-top: 90px;
  margin-left: 8px;
}