.container {
    background-color: #20232a;
  }

  .main{
    position:relative;
    width:130px;
    height:130px;
    background-color:#f05033;
    border-radius:8%;
    transform:rotate(-45deg)
  }
  .leg{
    position:absolute;
    right:25%;
    top:-0.2%;
    background-color:white;
    height:70%;
    width:8.5%;
  }
  .leg::before{
    content:'';
    position:absolute;
    width:250%;
    height:29%;
    left:-75%;
    top:30%;
    border-radius:50%;
    background-color:white;
  }
  .leg::after{
    content:'';
    position:absolute;
    width:250%;
    height:29%;
    left:-75%;
    top:85%;
    border-radius:50%;
    background-color:white;
  }
  .leg2{
    position:absolute;
    right:45%;
    top:24%;
    transform:rotate(46deg);
    background-color:white;
    height:52%;
    width:8.5%;
  }
  .leg2::after{
    content:'';
    position:absolute;
    width:250%;
    height:41%;
    left:-75%;
    top:82%;
    border-radius:50%;
    background-color:white;
  }