.container {
  background-color:rgb(154, 176, 194);
}

.outCircle{
  width:180px;
  height:180px;
  border-radius:180px;
  background-color:black;   
}

.innerCircle{
  width:143px;
  height:143px;
  border-radius:143px;
  background-color:rgb(154, 176, 194);  
  position:absolute; 
  margin: 19px 0px 0px 19px;
}

.innerLongVertical{
  width:22px;
  height:155px;
  background-color:black;  
  position:absolute; 
  margin: 0px 0px 0px 61px;
}

.innerShortLeft{
  width:22px;
  height:100px;
  background-color:black;  
  transform: rotate(50deg);
  position:absolute; 
  margin: 39px 0px 0px 30px;
}

.innerShortRight{
  width:22px;
  height:100px;
  background-color:black;  
  transform: rotate(-50deg);
  position:absolute; 
  margin: 40px 0px 0px 92px;
}
