.container {
    background: #998235;
}
.blossom{
    display: flex;
    flex-direction: row;
}
.leftleaf{
    height: 80px;
    width: 65px;
    border-radius: 0 45px 0 45px;
    background-color: #1A4341;
    margin-right: 20px;
    margin-bottom: 20px;
}
.rightleaf{
    width: 70px;
    height: 45px;
    border-radius:0 40px 0 40px ;
    background-color: #F3AC3C;
}
.secondleftleaf{
    width: 70px;
    height: 45px;
    border-radius:40px 0 40px 0;
    background-color: #F3AC3C;
}
.secondrightleaf{
    height: 80px;
    width: 65px;
    border-radius: 45px 0 45px 0;
    background-color: #1A4341;
    margin-top: 20px;
}
