.container {
  background-color: rgb(255, 205, 192);
}

.logo {
  position: absolute;
  font-size: 7em;
  color: white;
  font-weight: bolder;
}

.blocks {
  height: 130px;
  width: 130px;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  background-color: #0e76a8;
  border-radius: 15px;
  position: relative;
  align-items: center;
}