.header {
  height: 60px;
  color: white;
  background: #111;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  font-size: 1.5rem;
  color: white;
  line-height: 26px;
  margin: 0;
  font-weight: 500;
  padding: 17px 0;
}

.square {
  height: 26px;
  width: 26px;
  background-color: #f44e24;
  margin-right: 5px;
  border-radius: 3px;
}

.circle {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: #81b900;
  margin-right: 5px;
}

.shape {
  background-color: #01a4ef;
  height: 26px;
  width: 26px;
  border-radius: 13px 0 13px 13px;
  margin-right: 10px;
}

.ghBtn {
  color: black;
  display: inline-flex;
  padding: 0 8px 0 6px;
  border-radius: 4px;
  height: 40px;
  background-color: #e8e8e8;
  margin-top: 10px;
}

.svg {
  height: 36px;
  width: 36px;
  fill: black;
  margin: 2px 5px 0 0;
}

.star {
  margin: 0;
  padding: 0;
  line-height: 41px;
  font-size: 14px;
}


@media screen and (max-width: 39.9375em) {
  .titleText{display:none;}
  .container{
    padding:0 15px;
  }
}