.container {
  background-color: rgb(208, 238, 41);
}

.cream{
  height: 120px;
  width: 80px;
  background-color: rgb(255, 136, 0);
}

.stick{
  height: 30px;
  width: 20px;
  background-color: brown;
}


