.container {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1980px 989px #fff, 1490px 818px #fff, 1799px 839px #fff,
    930px 592px #fff, 704px 1526px #fff, 1685px 1826px #fff, 1852px 1524px #fff,
    1275px 1286px #fff, 698px 738px #fff, 619px 357px #fff, 1860px 1815px #fff,
    1450px 230px #fff, 175px 966px #fff, 1737px 914px #fff, 517px 393px #fff,
    93px 494px #fff, 1417px 1321px #fff, 1634px 1388px #fff, 1821px 1868px #fff,
    525px 341px #fff, 1745px 1241px #fff, 1410px 1041px #fff, 1913px 1022px #fff,
    1120px 1199px #fff, 421px 471px #fff, 1141px 1321px #fff, 737px 375px #fff,
    1201px 1796px #fff, 1260px 1159px #fff, 23px 1483px #fff, 473px 410px #fff,
    1552px 1411px #fff, 1681px 7px #fff, 970px 730px #fff, 578px 925px #fff,
    977px 1701px #fff, 856px 1847px #fff, 700px 642px #fff, 723px 639px #fff,
    1356px 1610px #fff, 1480px 884px #fff, 726px 718px #fff, 633px 1020px #fff,
    1946px 941px #fff, 1031px 595px #fff, 147px 526px #fff, 1240px 996px #fff,
    259px 939px #fff, 1926px 1321px #fff, 125px 1833px #fff, 249px 1194px #fff,
    1744px 667px #fff, 1547px 644px #fff, 1232px 1503px #fff, 1799px 1159px #fff,
    1909px 1475px #fff, 1340px 1062px #fff, 1020px 1347px #fff,
    1694px 1068px #fff, 1017px 1499px #fff, 1849px 1591px #fff,
    1623px 233px #fff, 1163px 1848px #fff, 1263px 1919px #fff, 1515px 311px #fff,
    1923px 1586px #fff, 8px 1211px #fff, 202px 12px #fff, 1944px 803px #fff,
    107px 393px #fff, 517px 139px #fff, 98px 1616px #fff, 109px 1867px #fff,
    843px 1912px #fff, 1767px 532px #fff, 667px 1315px #fff, 1691px 1274px #fff,
    1382px 1947px #fff, 567px 597px #fff, 1031px 457px #fff, 592px 1389px #fff,
    548px 1827px #fff, 252px 224px #fff, 1664px 786px #fff, 1590px 505px #fff,
    1974px 1485px #fff, 557px 618px #fff, 1537px 891px #fff, 1790px 1123px #fff,
    239px 344px #fff, 1735px 942px #fff, 692px 1856px #fff, 1786px 1511px #fff,
    363px 1175px #fff, 636px 605px #fff, 1521px 1381px #fff, 323px 940px #fff,
    627px 1918px #fff, 990px 100px #fff, 132px 1837px #fff, 1027px 210px #fff,
    198px 1703px #fff, 1690px 1685px #fff, 1846px 535px #fff, 1973px 1887px #fff,
    97px 265px #fff, 1662px 1749px #fff, 1159px 762px #fff, 879px 1056px #fff,
    1666px 434px #fff, 1944px 817px #fff, 1972px 504px #fff, 934px 1877px #fff,
    1333px 1746px #fff, 1534px 297px #fff, 354px 510px #fff, 1990px 205px #fff,
    1634px 880px #fff, 1296px 810px #fff, 1880px 1520px #fff, 1595px 594px #fff,
    1419px 1482px #fff, 813px 327px #fff, 550px 359px #fff, 1969px 1222px #fff,
    841px 549px #fff, 1879px 543px #fff, 1319px 301px #fff, 1032px 989px #fff,
    1735px 896px #fff, 1251px 20px #fff, 90px 259px #fff, 498px 1553px #fff,
    183px 1040px #fff, 1918px 620px #fff, 1619px 1104px #fff, 1177px 1450px #fff,
    323px 2000px #fff, 380px 1302px #fff, 1105px 1457px #fff, 313px 62px #fff,
    1635px 1402px #fff, 1471px 959px #fff, 1291px 38px #fff, 1728px 790px #fff,
    1364px 505px #fff, 819px 396px #fff, 449px 737px #fff, 1390px 303px #fff,
    850px 1042px #fff, 1098px 1416px #fff, 1684px 1318px #fff, 1789px 248px #fff,
    515px 1552px #fff, 1147px 581px #fff, 1286px 1457px #fff, 299px 857px #fff,
    825px 1333px #fff, 12px 1641px #fff, 783px 1197px #fff, 862px 1699px #fff,
    1599px 662px #fff, 1335px 1962px #fff, 416px 1736px #fff, 1590px 415px #fff,
    524px 1192px #fff, 1111px 93px #fff, 1992px 612px #fff, 1422px 1708px #fff,
    706px 892px #fff, 483px 1343px #fff, 513px 1600px #fff, 1407px 459px #fff,
    390px 797px #fff, 1007px 11px #fff, 433px 518px #fff, 1126px 1718px #fff,
    950px 1161px #fff, 1388px 717px #fff, 858px 1776px #fff, 1709px 289px #fff,
    49px 999px #fff, 1331px 1202px #fff, 920px 837px #fff, 1336px 1481px #fff,
    1886px 404px #fff, 847px 1011px #fff, 1260px 180px #fff, 445px 347px #fff,
    948px 1905px #fff, 150px 1333px #fff, 878px 518px #fff, 237px 797px #fff,
    109px 815px #fff, 1118px 1358px #fff, 812px 1223px #fff, 1418px 1724px #fff,
    717px 1390px #fff, 1691px 572px #fff, 814px 1900px #fff, 1195px 49px #fff,
    1497px 1740px #fff, 1631px 271px #fff, 1381px 1853px #fff, 192px 1103px #fff,
    1378px 1731px #fff, 816px 807px #fff, 1307px 1299px #fff, 1302px 1602px #fff,
    1938px 688px #fff, 486px 221px #fff, 521px 845px #fff, 1388px 165px #fff,
    935px 275px #fff, 233px 726px #fff, 1023px 736px #fff, 1497px 1544px #fff,
    381px 1751px #fff, 1602px 78px #fff, 1703px 1989px #fff, 113px 635px #fff,
    469px 1751px #fff, 1784px 347px #fff, 991px 1167px #fff, 99px 447px #fff,
    1469px 357px #fff, 577px 1540px #fff, 129px 820px #fff, 717px 1936px #fff,
    1222px 806px #fff, 564px 1029px #fff, 5px 157px #fff, 1618px 1603px #fff,
    1061px 1359px #fff, 1532px 1364px #fff, 514px 983px #fff, 1127px 1088px #fff,
    633px 1454px #fff, 1856px 50px #fff, 488px 1643px #fff, 1552px 1012px #fff,
    296px 1012px #fff, 165px 292px #fff, 679px 893px #fff, 1744px 1160px #fff,
    1992px 975px #fff, 1786px 841px #fff, 1854px 1453px #fff, 1550px 227px #fff,
    768px 1519px #fff, 1641px 365px #fff, 331px 818px #fff, 1354px 948px #fff,
    1929px 758px #fff, 1490px 438px #fff, 928px 1291px #fff, 1389px 1847px #fff,
    1400px 456px #fff, 943px 1756px #fff, 303px 1493px #fff, 1788px 1987px #fff,
    1166px 694px #fff, 609px 599px #fff, 1765px 1657px #fff, 948px 518px #fff,
    1137px 1199px #fff, 184px 46px #fff, 1060px 1629px #fff, 130px 164px #fff,
    1611px 645px #fff, 781px 1702px #fff, 1391px 1608px #fff, 715px 789px #fff,
    348px 1284px #fff, 1309px 198px #fff, 1097px 1784px #fff, 221px 359px #fff,
    891px 1861px #fff, 246px 1850px #fff, 793px 1084px #fff, 1484px 1016px #fff,
    974px 746px #fff, 742px 1212px #fff, 804px 1885px #fff, 237px 191px #fff,
    134px 508px #fff, 487px 441px #fff, 644px 1928px #fff, 1329px 1739px #fff,
    1897px 996px #fff, 550px 1513px #fff, 1894px 493px #fff, 1139px 1927px #fff,
    255px 701px #fff, 94px 1856px #fff, 1389px 1909px #fff, 1552px 1394px #fff,
    1757px 272px #fff, 1691px 1108px #fff, 607px 1503px #fff, 1191px 643px #fff,
    1458px 1451px #fff, 1312px 338px #fff, 1860px 710px #fff, 741px 1925px #fff,
    625px 795px #fff, 1441px 1980px #fff, 428px 1065px #fff, 1118px 1565px #fff,
    600px 1473px #fff, 1332px 1261px #fff, 493px 815px #fff, 1615px 110px #fff,
    516px 862px #fff, 1091px 1998px #fff, 1905px 1639px #fff, 288px 179px #fff,
    1781px 902px #fff, 434px 181px #fff, 175px 1658px #fff, 1865px 1960px #fff,
    1996px 1529px #fff, 1920px 544px #fff, 1994px 1059px #fff, 643px 101px #fff,
    370px 104px #fff, 144px 1332px #fff, 1861px 1743px #fff, 566px 132px #fff,
    1985px 1436px #fff, 565px 850px #fff, 149px 371px #fff, 280px 268px #fff,
    199px 958px #fff, 1219px 518px #fff, 336px 85px #fff, 1004px 1888px #fff,
    1849px 686px #fff, 775px 1339px #fff, 1813px 547px #fff, 46px 184px #fff,
    422px 404px #fff, 1428px 929px #fff, 943px 1530px #fff, 647px 1495px #fff,
    1485px 633px #fff, 1246px 1785px #fff, 1563px 1844px #fff,
    1291px 1879px #fff, 619px 1258px #fff, 998px 1059px #fff, 55px 1855px #fff,
    558px 588px #fff, 1969px 1913px #fff, 442px 567px #fff, 594px 1228px #fff,
    1611px 1260px #fff, 530px 1056px #fff, 1341px 849px #fff, 890px 495px #fff,
    973px 1528px #fff, 800px 1188px #fff, 638px 342px #fff, 1387px 1980px #fff,
    1341px 212px #fff, 1063px 1695px #fff, 1281px 421px #fff, 1639px 271px #fff,
    965px 821px #fff, 1710px 392px #fff, 681px 583px #fff, 756px 1699px #fff,
    1179px 819px #fff, 107px 983px #fff, 1338px 567px #fff, 1947px 1339px #fff,
    1056px 766px #fff, 467px 1099px #fff, 1428px 971px #fff, 1619px 762px #fff,
    904px 984px #fff, 431px 44px #fff, 677px 544px #fff, 1488px 380px #fff,
    832px 1242px #fff, 998px 536px #fff, 1218px 337px #fff, 97px 951px #fff,
    1605px 1953px #fff, 1029px 871px #fff, 923px 145px #fff, 1784px 1145px #fff,
    705px 832px #fff, 1933px 1140px #fff, 306px 187px #fff, 1521px 1721px #fff,
    1133px 1444px #fff, 1636px 1339px #fff, 1309px 57px #fff, 1128px 1919px #fff,
    1833px 1974px #fff, 1698px 447px #fff, 1518px 1125px #fff, 745px 463px #fff,
    860px 492px #fff, 1196px 1946px #fff, 923px 1841px #fff, 169px 1098px #fff,
    1850px 1517px #fff, 35px 1829px #fff, 807px 1739px #fff, 1746px 1704px #fff,
    867px 72px #fff, 1771px 1287px #fff, 1058px 1915px #fff, 57px 256px #fff,
    1469px 1417px #fff, 91px 267px #fff, 296px 1783px #fff, 1947px 1375px #fff,
    986px 1741px #fff, 568px 481px #fff, 754px 1805px #fff, 738px 673px #fff,
    853px 554px #fff, 473px 472px #fff, 15px 159px #fff, 1948px 381px #fff,
    653px 16px #fff, 367px 1163px #fff, 1713px 1998px #fff, 582px 62px #fff,
    1880px 19px #fff, 571px 2px #fff, 859px 384px #fff, 1206px 1405px #fff,
    847px 1281px #fff, 1356px 57px #fff, 1744px 905px #fff, 1612px 1379px #fff,
    881px 1155px #fff, 737px 1163px #fff, 1885px 616px #fff, 485px 422px #fff,
    387px 1383px #fff, 317px 529px #fff, 561px 1086px #fff, 342px 1480px #fff,
    1432px 984px #fff, 1045px 1415px #fff, 94px 1515px #fff, 361px 1386px #fff,
    214px 738px #fff, 265px 1028px #fff, 1638px 1588px #fff, 745px 361px #fff,
    1276px 462px #fff, 460px 945px #fff, 1589px 496px #fff, 259px 1857px #fff,
    407px 1678px #fff, 1935px 1287px #fff, 1606px 646px #fff, 1327px 464px #fff,
    824px 324px #fff, 1653px 1258px #fff, 1893px 524px #fff, 1174px 1756px #fff,
    1848px 1007px #fff, 1796px 256px #fff, 1616px 911px #fff, 1409px 1288px #fff,
    1832px 1217px #fff, 1662px 289px #fff, 1619px 550px #fff, 225px 155px #fff,
    859px 331px #fff, 1625px 1515px #fff, 1959px 1462px #fff, 1082px 328px #fff,
    985px 469px #fff, 1275px 1962px #fff, 134px 1357px #fff, 1984px 1541px #fff,
    999px 784px #fff, 582px 105px #fff, 83px 546px #fff, 1039px 28px #fff,
    581px 567px #fff, 406px 1565px #fff, 1552px 670px #fff, 1138px 787px #fff,
    1293px 1700px #fff, 1281px 1861px #fff, 946px 1171px #fff, 283px 1175px #fff,
    283px 1582px #fff, 1388px 314px #fff, 602px 1649px #fff, 722px 149px #fff,
    281px 1880px #fff, 1982px 1076px #fff, 262px 287px #fff, 1633px 970px #fff,
    214px 764px #fff, 733px 1305px #fff, 531px 861px #fff, 829px 1565px #fff,
    1802px 1723px #fff, 1128px 391px #fff, 1419px 1755px #fff, 512px 613px #fff,
    928px 653px #fff, 3px 1130px #fff, 1371px 1663px #fff, 1885px 419px #fff,
    759px 169px #fff, 289px 1342px #fff, 303px 865px #fff, 469px 1192px #fff,
    251px 1998px #fff, 1469px 1425px #fff, 1440px 669px #fff, 1903px 1208px #fff,
    598px 1962px #fff, 1700px 1470px #fff, 438px 1345px #fff, 454px 1799px #fff,
    1624px 873px #fff, 1137px 814px #fff, 961px 323px #fff, 1473px 1989px #fff,
    58px 1488px #fff, 637px 1845px #fff, 668px 1335px #fff, 1080px 1869px #fff,
    655px 1960px #fff, 611px 1221px #fff, 1258px 952px #fff, 333px 1759px #fff,
    1783px 1716px #fff, 709px 843px #fff, 1243px 763px #fff, 1867px 1768px #fff,
    77px 869px #fff, 1781px 1544px #fff, 388px 1315px #fff, 311px 863px #fff,
    64px 212px #fff, 248px 61px #fff, 1860px 956px #fff, 1470px 953px #fff,
    1299px 16px #fff, 1163px 100px #fff, 184px 1294px #fff, 284px 1899px #fff,
    425px 211px #fff, 1355px 1064px #fff, 692px 492px #fff, 1612px 427px #fff,
    504px 20px #fff, 1551px 1146px #fff, 768px 676px #fff, 1438px 987px #fff,
    1168px 70px #fff, 1298px 594px #fff, 286px 1070px #fff, 60px 110px #fff,
    1137px 616px #fff, 1373px 732px #fff, 75px 461px #fff, 1238px 999px #fff,
    1773px 1745px #fff, 1420px 811px #fff, 670px 1996px #fff, 1806px 638px #fff,
    1241px 1941px #fff, 1657px 1044px #fff, 783px 1338px #fff,
    1541px 1265px #fff, 975px 785px #fff, 1243px 82px #fff, 763px 1316px #fff,
    932px 1155px #fff, 1401px 1203px #fff, 689px 418px #fff, 922px 1013px #fff,
    1225px 860px #fff, 393px 456px #fff, 1113px 1299px #fff, 351px 1372px #fff,
    578px 175px #fff, 52px 1594px #fff, 83px 1219px #fff, 1382px 1693px #fff,
    95px 1932px #fff, 1166px 821px #fff, 1067px 679px #fff, 1783px 1485px #fff,
    387px 1064px #fff, 608px 1200px #fff, 1038px 99px #fff, 6px 1557px #fff,
    1647px 1395px #fff, 453px 1835px #fff, 331px 738px #fff, 1484px 1435px #fff,
    659px 488px #fff, 449px 1990px #fff, 1933px 1425px #fff, 971px 150px #fff,
    98px 1396px #fff, 1799px 1024px #fff, 1684px 1389px #fff, 1115px 1990px #fff,
    1526px 1533px #fff, 129px 941px #fff, 155px 916px #fff, 353px 788px #fff,
    351px 1233px #fff, 1762px 353px #fff, 1336px 711px #fff, 40px 516px #fff,
    1584px 220px #fff, 469px 35px #fff, 667px 976px #fff, 1327px 1843px #fff,
    1787px 1875px #fff, 705px 1039px #fff, 1722px 1832px #fff, 380px 1715px #fff,
    609px 678px #fff, 1297px 3px #fff, 249px 1463px #fff, 1348px 1463px #fff,
    394px 54px #fff, 683px 1489px #fff, 1335px 408px #fff, 1601px 319px #fff,
    840px 1517px #fff, 1340px 1331px #fff, 1662px 1480px #fff, 927px 516px #fff,
    276px 606px #fff, 299px 525px #fff, 525px 162px #fff, 1209px 413px #fff,
    643px 1558px #fff, 377px 1025px #fff, 1761px 1352px #fff, 714px 696px #fff,
    606px 556px #fff, 926px 956px #fff, 1503px 316px #fff, 1270px 1554px #fff,
    1327px 588px #fff, 1865px 167px #fff, 809px 643px #fff, 695px 757px #fff,
    1034px 1426px #fff, 1063px 813px #fff, 1619px 460px #fff, 35px 89px #fff,
    1787px 1474px #fff, 1201px 185px #fff, 1138px 1864px #fff, 1620px 22px #fff,
    1539px 1834px #fff, 1065px 1772px #fff, 549px 1992px #fff, 1295px 479px #fff,
    215px 1616px #fff, 418px 1739px #fff, 1392px 976px #fff, 283px 338px #fff,
    718px 799px #fff, 177px 23px #fff, 1756px 396px #fff, 1528px 1574px #fff,
    445px 881px #fff, 611px 1907px #fff, 866px 107px #fff, 619px 392px #fff,
    1403px 194px #fff, 1754px 818px #fff, 765px 1662px #fff, 138px 1320px #fff,
    1054px 1529px #fff, 362px 1437px #fff, 1928px 86px #fff, 1698px 1097px #fff,
    1770px 478px #fff, 1334px 1573px #fff, 904px 1011px #fff, 1718px 157px #fff,
    1931px 1897px #fff, 617px 1303px #fff, 531px 907px #fff, 1088px 1269px #fff,
    1280px 72px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1980px 989px #fff, 1490px 818px #fff, 1799px 839px #fff,
    930px 592px #fff, 704px 1526px #fff, 1685px 1826px #fff, 1852px 1524px #fff,
    1275px 1286px #fff, 698px 738px #fff, 619px 357px #fff, 1860px 1815px #fff,
    1450px 230px #fff, 175px 966px #fff, 1737px 914px #fff, 517px 393px #fff,
    93px 494px #fff, 1417px 1321px #fff, 1634px 1388px #fff, 1821px 1868px #fff,
    525px 341px #fff, 1745px 1241px #fff, 1410px 1041px #fff, 1913px 1022px #fff,
    1120px 1199px #fff, 421px 471px #fff, 1141px 1321px #fff, 737px 375px #fff,
    1201px 1796px #fff, 1260px 1159px #fff, 23px 1483px #fff, 473px 410px #fff,
    1552px 1411px #fff, 1681px 7px #fff, 970px 730px #fff, 578px 925px #fff,
    977px 1701px #fff, 856px 1847px #fff, 700px 642px #fff, 723px 639px #fff,
    1356px 1610px #fff, 1480px 884px #fff, 726px 718px #fff, 633px 1020px #fff,
    1946px 941px #fff, 1031px 595px #fff, 147px 526px #fff, 1240px 996px #fff,
    259px 939px #fff, 1926px 1321px #fff, 125px 1833px #fff, 249px 1194px #fff,
    1744px 667px #fff, 1547px 644px #fff, 1232px 1503px #fff, 1799px 1159px #fff,
    1909px 1475px #fff, 1340px 1062px #fff, 1020px 1347px #fff,
    1694px 1068px #fff, 1017px 1499px #fff, 1849px 1591px #fff,
    1623px 233px #fff, 1163px 1848px #fff, 1263px 1919px #fff, 1515px 311px #fff,
    1923px 1586px #fff, 8px 1211px #fff, 202px 12px #fff, 1944px 803px #fff,
    107px 393px #fff, 517px 139px #fff, 98px 1616px #fff, 109px 1867px #fff,
    843px 1912px #fff, 1767px 532px #fff, 667px 1315px #fff, 1691px 1274px #fff,
    1382px 1947px #fff, 567px 597px #fff, 1031px 457px #fff, 592px 1389px #fff,
    548px 1827px #fff, 252px 224px #fff, 1664px 786px #fff, 1590px 505px #fff,
    1974px 1485px #fff, 557px 618px #fff, 1537px 891px #fff, 1790px 1123px #fff,
    239px 344px #fff, 1735px 942px #fff, 692px 1856px #fff, 1786px 1511px #fff,
    363px 1175px #fff, 636px 605px #fff, 1521px 1381px #fff, 323px 940px #fff,
    627px 1918px #fff, 990px 100px #fff, 132px 1837px #fff, 1027px 210px #fff,
    198px 1703px #fff, 1690px 1685px #fff, 1846px 535px #fff, 1973px 1887px #fff,
    97px 265px #fff, 1662px 1749px #fff, 1159px 762px #fff, 879px 1056px #fff,
    1666px 434px #fff, 1944px 817px #fff, 1972px 504px #fff, 934px 1877px #fff,
    1333px 1746px #fff, 1534px 297px #fff, 354px 510px #fff, 1990px 205px #fff,
    1634px 880px #fff, 1296px 810px #fff, 1880px 1520px #fff, 1595px 594px #fff,
    1419px 1482px #fff, 813px 327px #fff, 550px 359px #fff, 1969px 1222px #fff,
    841px 549px #fff, 1879px 543px #fff, 1319px 301px #fff, 1032px 989px #fff,
    1735px 896px #fff, 1251px 20px #fff, 90px 259px #fff, 498px 1553px #fff,
    183px 1040px #fff, 1918px 620px #fff, 1619px 1104px #fff, 1177px 1450px #fff,
    323px 2000px #fff, 380px 1302px #fff, 1105px 1457px #fff, 313px 62px #fff,
    1635px 1402px #fff, 1471px 959px #fff, 1291px 38px #fff, 1728px 790px #fff,
    1364px 505px #fff, 819px 396px #fff, 449px 737px #fff, 1390px 303px #fff,
    850px 1042px #fff, 1098px 1416px #fff, 1684px 1318px #fff, 1789px 248px #fff,
    515px 1552px #fff, 1147px 581px #fff, 1286px 1457px #fff, 299px 857px #fff,
    825px 1333px #fff, 12px 1641px #fff, 783px 1197px #fff, 862px 1699px #fff,
    1599px 662px #fff, 1335px 1962px #fff, 416px 1736px #fff, 1590px 415px #fff,
    524px 1192px #fff, 1111px 93px #fff, 1992px 612px #fff, 1422px 1708px #fff,
    706px 892px #fff, 483px 1343px #fff, 513px 1600px #fff, 1407px 459px #fff,
    390px 797px #fff, 1007px 11px #fff, 433px 518px #fff, 1126px 1718px #fff,
    950px 1161px #fff, 1388px 717px #fff, 858px 1776px #fff, 1709px 289px #fff,
    49px 999px #fff, 1331px 1202px #fff, 920px 837px #fff, 1336px 1481px #fff,
    1886px 404px #fff, 847px 1011px #fff, 1260px 180px #fff, 445px 347px #fff,
    948px 1905px #fff, 150px 1333px #fff, 878px 518px #fff, 237px 797px #fff,
    109px 815px #fff, 1118px 1358px #fff, 812px 1223px #fff, 1418px 1724px #fff,
    717px 1390px #fff, 1691px 572px #fff, 814px 1900px #fff, 1195px 49px #fff,
    1497px 1740px #fff, 1631px 271px #fff, 1381px 1853px #fff, 192px 1103px #fff,
    1378px 1731px #fff, 816px 807px #fff, 1307px 1299px #fff, 1302px 1602px #fff,
    1938px 688px #fff, 486px 221px #fff, 521px 845px #fff, 1388px 165px #fff,
    935px 275px #fff, 233px 726px #fff, 1023px 736px #fff, 1497px 1544px #fff,
    381px 1751px #fff, 1602px 78px #fff, 1703px 1989px #fff, 113px 635px #fff,
    469px 1751px #fff, 1784px 347px #fff, 991px 1167px #fff, 99px 447px #fff,
    1469px 357px #fff, 577px 1540px #fff, 129px 820px #fff, 717px 1936px #fff,
    1222px 806px #fff, 564px 1029px #fff, 5px 157px #fff, 1618px 1603px #fff,
    1061px 1359px #fff, 1532px 1364px #fff, 514px 983px #fff, 1127px 1088px #fff,
    633px 1454px #fff, 1856px 50px #fff, 488px 1643px #fff, 1552px 1012px #fff,
    296px 1012px #fff, 165px 292px #fff, 679px 893px #fff, 1744px 1160px #fff,
    1992px 975px #fff, 1786px 841px #fff, 1854px 1453px #fff, 1550px 227px #fff,
    768px 1519px #fff, 1641px 365px #fff, 331px 818px #fff, 1354px 948px #fff,
    1929px 758px #fff, 1490px 438px #fff, 928px 1291px #fff, 1389px 1847px #fff,
    1400px 456px #fff, 943px 1756px #fff, 303px 1493px #fff, 1788px 1987px #fff,
    1166px 694px #fff, 609px 599px #fff, 1765px 1657px #fff, 948px 518px #fff,
    1137px 1199px #fff, 184px 46px #fff, 1060px 1629px #fff, 130px 164px #fff,
    1611px 645px #fff, 781px 1702px #fff, 1391px 1608px #fff, 715px 789px #fff,
    348px 1284px #fff, 1309px 198px #fff, 1097px 1784px #fff, 221px 359px #fff,
    891px 1861px #fff, 246px 1850px #fff, 793px 1084px #fff, 1484px 1016px #fff,
    974px 746px #fff, 742px 1212px #fff, 804px 1885px #fff, 237px 191px #fff,
    134px 508px #fff, 487px 441px #fff, 644px 1928px #fff, 1329px 1739px #fff,
    1897px 996px #fff, 550px 1513px #fff, 1894px 493px #fff, 1139px 1927px #fff,
    255px 701px #fff, 94px 1856px #fff, 1389px 1909px #fff, 1552px 1394px #fff,
    1757px 272px #fff, 1691px 1108px #fff, 607px 1503px #fff, 1191px 643px #fff,
    1458px 1451px #fff, 1312px 338px #fff, 1860px 710px #fff, 741px 1925px #fff,
    625px 795px #fff, 1441px 1980px #fff, 428px 1065px #fff, 1118px 1565px #fff,
    600px 1473px #fff, 1332px 1261px #fff, 493px 815px #fff, 1615px 110px #fff,
    516px 862px #fff, 1091px 1998px #fff, 1905px 1639px #fff, 288px 179px #fff,
    1781px 902px #fff, 434px 181px #fff, 175px 1658px #fff, 1865px 1960px #fff,
    1996px 1529px #fff, 1920px 544px #fff, 1994px 1059px #fff, 643px 101px #fff,
    370px 104px #fff, 144px 1332px #fff, 1861px 1743px #fff, 566px 132px #fff,
    1985px 1436px #fff, 565px 850px #fff, 149px 371px #fff, 280px 268px #fff,
    199px 958px #fff, 1219px 518px #fff, 336px 85px #fff, 1004px 1888px #fff,
    1849px 686px #fff, 775px 1339px #fff, 1813px 547px #fff, 46px 184px #fff,
    422px 404px #fff, 1428px 929px #fff, 943px 1530px #fff, 647px 1495px #fff,
    1485px 633px #fff, 1246px 1785px #fff, 1563px 1844px #fff,
    1291px 1879px #fff, 619px 1258px #fff, 998px 1059px #fff, 55px 1855px #fff,
    558px 588px #fff, 1969px 1913px #fff, 442px 567px #fff, 594px 1228px #fff,
    1611px 1260px #fff, 530px 1056px #fff, 1341px 849px #fff, 890px 495px #fff,
    973px 1528px #fff, 800px 1188px #fff, 638px 342px #fff, 1387px 1980px #fff,
    1341px 212px #fff, 1063px 1695px #fff, 1281px 421px #fff, 1639px 271px #fff,
    965px 821px #fff, 1710px 392px #fff, 681px 583px #fff, 756px 1699px #fff,
    1179px 819px #fff, 107px 983px #fff, 1338px 567px #fff, 1947px 1339px #fff,
    1056px 766px #fff, 467px 1099px #fff, 1428px 971px #fff, 1619px 762px #fff,
    904px 984px #fff, 431px 44px #fff, 677px 544px #fff, 1488px 380px #fff,
    832px 1242px #fff, 998px 536px #fff, 1218px 337px #fff, 97px 951px #fff,
    1605px 1953px #fff, 1029px 871px #fff, 923px 145px #fff, 1784px 1145px #fff,
    705px 832px #fff, 1933px 1140px #fff, 306px 187px #fff, 1521px 1721px #fff,
    1133px 1444px #fff, 1636px 1339px #fff, 1309px 57px #fff, 1128px 1919px #fff,
    1833px 1974px #fff, 1698px 447px #fff, 1518px 1125px #fff, 745px 463px #fff,
    860px 492px #fff, 1196px 1946px #fff, 923px 1841px #fff, 169px 1098px #fff,
    1850px 1517px #fff, 35px 1829px #fff, 807px 1739px #fff, 1746px 1704px #fff,
    867px 72px #fff, 1771px 1287px #fff, 1058px 1915px #fff, 57px 256px #fff,
    1469px 1417px #fff, 91px 267px #fff, 296px 1783px #fff, 1947px 1375px #fff,
    986px 1741px #fff, 568px 481px #fff, 754px 1805px #fff, 738px 673px #fff,
    853px 554px #fff, 473px 472px #fff, 15px 159px #fff, 1948px 381px #fff,
    653px 16px #fff, 367px 1163px #fff, 1713px 1998px #fff, 582px 62px #fff,
    1880px 19px #fff, 571px 2px #fff, 859px 384px #fff, 1206px 1405px #fff,
    847px 1281px #fff, 1356px 57px #fff, 1744px 905px #fff, 1612px 1379px #fff,
    881px 1155px #fff, 737px 1163px #fff, 1885px 616px #fff, 485px 422px #fff,
    387px 1383px #fff, 317px 529px #fff, 561px 1086px #fff, 342px 1480px #fff,
    1432px 984px #fff, 1045px 1415px #fff, 94px 1515px #fff, 361px 1386px #fff,
    214px 738px #fff, 265px 1028px #fff, 1638px 1588px #fff, 745px 361px #fff,
    1276px 462px #fff, 460px 945px #fff, 1589px 496px #fff, 259px 1857px #fff,
    407px 1678px #fff, 1935px 1287px #fff, 1606px 646px #fff, 1327px 464px #fff,
    824px 324px #fff, 1653px 1258px #fff, 1893px 524px #fff, 1174px 1756px #fff,
    1848px 1007px #fff, 1796px 256px #fff, 1616px 911px #fff, 1409px 1288px #fff,
    1832px 1217px #fff, 1662px 289px #fff, 1619px 550px #fff, 225px 155px #fff,
    859px 331px #fff, 1625px 1515px #fff, 1959px 1462px #fff, 1082px 328px #fff,
    985px 469px #fff, 1275px 1962px #fff, 134px 1357px #fff, 1984px 1541px #fff,
    999px 784px #fff, 582px 105px #fff, 83px 546px #fff, 1039px 28px #fff,
    581px 567px #fff, 406px 1565px #fff, 1552px 670px #fff, 1138px 787px #fff,
    1293px 1700px #fff, 1281px 1861px #fff, 946px 1171px #fff, 283px 1175px #fff,
    283px 1582px #fff, 1388px 314px #fff, 602px 1649px #fff, 722px 149px #fff,
    281px 1880px #fff, 1982px 1076px #fff, 262px 287px #fff, 1633px 970px #fff,
    214px 764px #fff, 733px 1305px #fff, 531px 861px #fff, 829px 1565px #fff,
    1802px 1723px #fff, 1128px 391px #fff, 1419px 1755px #fff, 512px 613px #fff,
    928px 653px #fff, 3px 1130px #fff, 1371px 1663px #fff, 1885px 419px #fff,
    759px 169px #fff, 289px 1342px #fff, 303px 865px #fff, 469px 1192px #fff,
    251px 1998px #fff, 1469px 1425px #fff, 1440px 669px #fff, 1903px 1208px #fff,
    598px 1962px #fff, 1700px 1470px #fff, 438px 1345px #fff, 454px 1799px #fff,
    1624px 873px #fff, 1137px 814px #fff, 961px 323px #fff, 1473px 1989px #fff,
    58px 1488px #fff, 637px 1845px #fff, 668px 1335px #fff, 1080px 1869px #fff,
    655px 1960px #fff, 611px 1221px #fff, 1258px 952px #fff, 333px 1759px #fff,
    1783px 1716px #fff, 709px 843px #fff, 1243px 763px #fff, 1867px 1768px #fff,
    77px 869px #fff, 1781px 1544px #fff, 388px 1315px #fff, 311px 863px #fff,
    64px 212px #fff, 248px 61px #fff, 1860px 956px #fff, 1470px 953px #fff,
    1299px 16px #fff, 1163px 100px #fff, 184px 1294px #fff, 284px 1899px #fff,
    425px 211px #fff, 1355px 1064px #fff, 692px 492px #fff, 1612px 427px #fff,
    504px 20px #fff, 1551px 1146px #fff, 768px 676px #fff, 1438px 987px #fff,
    1168px 70px #fff, 1298px 594px #fff, 286px 1070px #fff, 60px 110px #fff,
    1137px 616px #fff, 1373px 732px #fff, 75px 461px #fff, 1238px 999px #fff,
    1773px 1745px #fff, 1420px 811px #fff, 670px 1996px #fff, 1806px 638px #fff,
    1241px 1941px #fff, 1657px 1044px #fff, 783px 1338px #fff,
    1541px 1265px #fff, 975px 785px #fff, 1243px 82px #fff, 763px 1316px #fff,
    932px 1155px #fff, 1401px 1203px #fff, 689px 418px #fff, 922px 1013px #fff,
    1225px 860px #fff, 393px 456px #fff, 1113px 1299px #fff, 351px 1372px #fff,
    578px 175px #fff, 52px 1594px #fff, 83px 1219px #fff, 1382px 1693px #fff,
    95px 1932px #fff, 1166px 821px #fff, 1067px 679px #fff, 1783px 1485px #fff,
    387px 1064px #fff, 608px 1200px #fff, 1038px 99px #fff, 6px 1557px #fff,
    1647px 1395px #fff, 453px 1835px #fff, 331px 738px #fff, 1484px 1435px #fff,
    659px 488px #fff, 449px 1990px #fff, 1933px 1425px #fff, 971px 150px #fff,
    98px 1396px #fff, 1799px 1024px #fff, 1684px 1389px #fff, 1115px 1990px #fff,
    1526px 1533px #fff, 129px 941px #fff, 155px 916px #fff, 353px 788px #fff,
    351px 1233px #fff, 1762px 353px #fff, 1336px 711px #fff, 40px 516px #fff,
    1584px 220px #fff, 469px 35px #fff, 667px 976px #fff, 1327px 1843px #fff,
    1787px 1875px #fff, 705px 1039px #fff, 1722px 1832px #fff, 380px 1715px #fff,
    609px 678px #fff, 1297px 3px #fff, 249px 1463px #fff, 1348px 1463px #fff,
    394px 54px #fff, 683px 1489px #fff, 1335px 408px #fff, 1601px 319px #fff,
    840px 1517px #fff, 1340px 1331px #fff, 1662px 1480px #fff, 927px 516px #fff,
    276px 606px #fff, 299px 525px #fff, 525px 162px #fff, 1209px 413px #fff,
    643px 1558px #fff, 377px 1025px #fff, 1761px 1352px #fff, 714px 696px #fff,
    606px 556px #fff, 926px 956px #fff, 1503px 316px #fff, 1270px 1554px #fff,
    1327px 588px #fff, 1865px 167px #fff, 809px 643px #fff, 695px 757px #fff,
    1034px 1426px #fff, 1063px 813px #fff, 1619px 460px #fff, 35px 89px #fff,
    1787px 1474px #fff, 1201px 185px #fff, 1138px 1864px #fff, 1620px 22px #fff,
    1539px 1834px #fff, 1065px 1772px #fff, 549px 1992px #fff, 1295px 479px #fff,
    215px 1616px #fff, 418px 1739px #fff, 1392px 976px #fff, 283px 338px #fff,
    718px 799px #fff, 177px 23px #fff, 1756px 396px #fff, 1528px 1574px #fff,
    445px 881px #fff, 611px 1907px #fff, 866px 107px #fff, 619px 392px #fff,
    1403px 194px #fff, 1754px 818px #fff, 765px 1662px #fff, 138px 1320px #fff,
    1054px 1529px #fff, 362px 1437px #fff, 1928px 86px #fff, 1698px 1097px #fff,
    1770px 478px #fff, 1334px 1573px #fff, 904px 1011px #fff, 1718px 157px #fff,
    1931px 1897px #fff, 617px 1303px #fff, 531px 907px #fff, 1088px 1269px #fff,
    1280px 72px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1243px 1804px #fff, 974px 1471px #fff, 1136px 1220px #fff,
    634px 1593px #fff, 1631px 315px #fff, 1665px 1764px #fff, 1943px 1608px #fff,
    684px 228px #fff, 639px 1932px #fff, 1479px 223px #fff, 1831px 894px #fff,
    421px 1522px #fff, 571px 1943px #fff, 663px 996px #fff, 760px 602px #fff,
    855px 739px #fff, 652px 992px #fff, 968px 1740px #fff, 952px 57px #fff,
    452px 692px #fff, 194px 1852px #fff, 460px 751px #fff, 1397px 23px #fff,
    1064px 862px #fff, 1334px 1381px #fff, 1216px 456px #fff, 1455px 857px #fff,
    580px 1230px #fff, 745px 1543px #fff, 608px 214px #fff, 78px 1357px #fff,
    1209px 1912px #fff, 18px 230px #fff, 210px 1518px #fff, 1670px 1970px #fff,
    932px 752px #fff, 517px 781px #fff, 1681px 379px #fff, 645px 484px #fff,
    345px 1926px #fff, 1803px 1116px #fff, 705px 1264px #fff, 1922px 159px #fff,
    449px 1854px #fff, 1028px 1588px #fff, 1829px 1849px #fff, 55px 706px #fff,
    1686px 542px #fff, 1449px 922px #fff, 1px 994px #fff, 711px 1162px #fff,
    1643px 462px #fff, 693px 1774px #fff, 1396px 1348px #fff, 1062px 1760px #fff,
    479px 1670px #fff, 1343px 669px #fff, 586px 208px #fff, 1979px 1020px #fff,
    1309px 1329px #fff, 1747px 426px #fff, 688px 669px #fff, 1587px 1202px #fff,
    1px 1350px #fff, 920px 1203px #fff, 1620px 1834px #fff, 1104px 331px #fff,
    1252px 1027px #fff, 158px 442px #fff, 1777px 130px #fff, 124px 1124px #fff,
    1228px 1928px #fff, 1657px 803px #fff, 1752px 577px #fff, 1071px 1967px #fff,
    718px 487px #fff, 1440px 909px #fff, 814px 678px #fff, 247px 1667px #fff,
    887px 754px #fff, 785px 1248px #fff, 1208px 1356px #fff, 672px 1232px #fff,
    1686px 1937px #fff, 293px 1781px #fff, 1607px 466px #fff, 447px 1766px #fff,
    88px 541px #fff, 1149px 602px #fff, 569px 232px #fff, 536px 1949px #fff,
    291px 1983px #fff, 1584px 905px #fff, 1782px 574px #fff, 139px 795px #fff,
    1902px 200px #fff, 1201px 384px #fff, 1205px 928px #fff, 125px 516px #fff,
    1789px 298px #fff, 478px 458px #fff, 1258px 541px #fff, 1223px 1453px #fff,
    966px 1726px #fff, 1457px 399px #fff, 1853px 1631px #fff, 1513px 1764px #fff,
    625px 1204px #fff, 166px 1421px #fff, 99px 492px #fff, 436px 1145px #fff,
    410px 1188px #fff, 1989px 346px #fff, 104px 310px #fff, 126px 50px #fff,
    1321px 951px #fff, 1749px 1967px #fff, 1573px 316px #fff, 232px 1350px #fff,
    1427px 367px #fff, 1907px 19px #fff, 773px 1651px #fff, 1570px 1792px #fff,
    820px 1094px #fff, 1281px 1969px #fff, 676px 1125px #fff, 520px 1941px #fff,
    1287px 1364px #fff, 1872px 13px #fff, 337px 1618px #fff, 268px 353px #fff,
    1467px 445px #fff, 809px 150px #fff, 1393px 325px #fff, 250px 149px #fff,
    1847px 845px #fff, 1276px 1138px #fff, 1782px 1610px #fff, 312px 1285px #fff,
    835px 482px #fff, 1787px 507px #fff, 1467px 922px #fff, 486px 971px #fff,
    48px 293px #fff, 513px 242px #fff, 1202px 493px #fff, 1000px 1184px #fff,
    859px 1290px #fff, 249px 107px #fff, 1418px 440px #fff, 641px 99px #fff,
    228px 1403px #fff, 1859px 1819px #fff, 1595px 1602px #fff, 480px 1121px #fff,
    923px 836px #fff, 1654px 1724px #fff, 1671px 984px #fff, 1241px 456px #fff,
    386px 1710px #fff, 1025px 235px #fff, 799px 688px #fff, 1588px 430px #fff,
    1087px 1664px #fff, 740px 1512px #fff, 1560px 313px #fff, 1247px 1268px #fff,
    1086px 810px #fff, 1838px 105px #fff, 1078px 1668px #fff, 630px 1319px #fff,
    1768px 700px #fff, 1226px 1287px #fff, 968px 1765px #fff, 487px 608px #fff,
    449px 880px #fff, 1651px 1952px #fff, 1104px 340px #fff, 1796px 1538px #fff,
    1581px 796px #fff, 146px 1755px #fff, 55px 1828px #fff, 348px 25px #fff,
    675px 1240px #fff, 500px 1732px #fff, 819px 79px #fff, 1874px 1454px #fff,
    831px 633px #fff, 1907px 1535px #fff, 1033px 1547px #fff, 1385px 119px #fff,
    278px 31px #fff, 946px 1012px #fff, 227px 512px #fff, 726px 821px #fff,
    1192px 394px #fff, 505px 237px #fff, 1884px 1566px #fff, 13px 806px #fff,
    1869px 808px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1243px 1804px #fff, 974px 1471px #fff, 1136px 1220px #fff,
    634px 1593px #fff, 1631px 315px #fff, 1665px 1764px #fff, 1943px 1608px #fff,
    684px 228px #fff, 639px 1932px #fff, 1479px 223px #fff, 1831px 894px #fff,
    421px 1522px #fff, 571px 1943px #fff, 663px 996px #fff, 760px 602px #fff,
    855px 739px #fff, 652px 992px #fff, 968px 1740px #fff, 952px 57px #fff,
    452px 692px #fff, 194px 1852px #fff, 460px 751px #fff, 1397px 23px #fff,
    1064px 862px #fff, 1334px 1381px #fff, 1216px 456px #fff, 1455px 857px #fff,
    580px 1230px #fff, 745px 1543px #fff, 608px 214px #fff, 78px 1357px #fff,
    1209px 1912px #fff, 18px 230px #fff, 210px 1518px #fff, 1670px 1970px #fff,
    932px 752px #fff, 517px 781px #fff, 1681px 379px #fff, 645px 484px #fff,
    345px 1926px #fff, 1803px 1116px #fff, 705px 1264px #fff, 1922px 159px #fff,
    449px 1854px #fff, 1028px 1588px #fff, 1829px 1849px #fff, 55px 706px #fff,
    1686px 542px #fff, 1449px 922px #fff, 1px 994px #fff, 711px 1162px #fff,
    1643px 462px #fff, 693px 1774px #fff, 1396px 1348px #fff, 1062px 1760px #fff,
    479px 1670px #fff, 1343px 669px #fff, 586px 208px #fff, 1979px 1020px #fff,
    1309px 1329px #fff, 1747px 426px #fff, 688px 669px #fff, 1587px 1202px #fff,
    1px 1350px #fff, 920px 1203px #fff, 1620px 1834px #fff, 1104px 331px #fff,
    1252px 1027px #fff, 158px 442px #fff, 1777px 130px #fff, 124px 1124px #fff,
    1228px 1928px #fff, 1657px 803px #fff, 1752px 577px #fff, 1071px 1967px #fff,
    718px 487px #fff, 1440px 909px #fff, 814px 678px #fff, 247px 1667px #fff,
    887px 754px #fff, 785px 1248px #fff, 1208px 1356px #fff, 672px 1232px #fff,
    1686px 1937px #fff, 293px 1781px #fff, 1607px 466px #fff, 447px 1766px #fff,
    88px 541px #fff, 1149px 602px #fff, 569px 232px #fff, 536px 1949px #fff,
    291px 1983px #fff, 1584px 905px #fff, 1782px 574px #fff, 139px 795px #fff,
    1902px 200px #fff, 1201px 384px #fff, 1205px 928px #fff, 125px 516px #fff,
    1789px 298px #fff, 478px 458px #fff, 1258px 541px #fff, 1223px 1453px #fff,
    966px 1726px #fff, 1457px 399px #fff, 1853px 1631px #fff, 1513px 1764px #fff,
    625px 1204px #fff, 166px 1421px #fff, 99px 492px #fff, 436px 1145px #fff,
    410px 1188px #fff, 1989px 346px #fff, 104px 310px #fff, 126px 50px #fff,
    1321px 951px #fff, 1749px 1967px #fff, 1573px 316px #fff, 232px 1350px #fff,
    1427px 367px #fff, 1907px 19px #fff, 773px 1651px #fff, 1570px 1792px #fff,
    820px 1094px #fff, 1281px 1969px #fff, 676px 1125px #fff, 520px 1941px #fff,
    1287px 1364px #fff, 1872px 13px #fff, 337px 1618px #fff, 268px 353px #fff,
    1467px 445px #fff, 809px 150px #fff, 1393px 325px #fff, 250px 149px #fff,
    1847px 845px #fff, 1276px 1138px #fff, 1782px 1610px #fff, 312px 1285px #fff,
    835px 482px #fff, 1787px 507px #fff, 1467px 922px #fff, 486px 971px #fff,
    48px 293px #fff, 513px 242px #fff, 1202px 493px #fff, 1000px 1184px #fff,
    859px 1290px #fff, 249px 107px #fff, 1418px 440px #fff, 641px 99px #fff,
    228px 1403px #fff, 1859px 1819px #fff, 1595px 1602px #fff, 480px 1121px #fff,
    923px 836px #fff, 1654px 1724px #fff, 1671px 984px #fff, 1241px 456px #fff,
    386px 1710px #fff, 1025px 235px #fff, 799px 688px #fff, 1588px 430px #fff,
    1087px 1664px #fff, 740px 1512px #fff, 1560px 313px #fff, 1247px 1268px #fff,
    1086px 810px #fff, 1838px 105px #fff, 1078px 1668px #fff, 630px 1319px #fff,
    1768px 700px #fff, 1226px 1287px #fff, 968px 1765px #fff, 487px 608px #fff,
    449px 880px #fff, 1651px 1952px #fff, 1104px 340px #fff, 1796px 1538px #fff,
    1581px 796px #fff, 146px 1755px #fff, 55px 1828px #fff, 348px 25px #fff,
    675px 1240px #fff, 500px 1732px #fff, 819px 79px #fff, 1874px 1454px #fff,
    831px 633px #fff, 1907px 1535px #fff, 1033px 1547px #fff, 1385px 119px #fff,
    278px 31px #fff, 946px 1012px #fff, 227px 512px #fff, 726px 821px #fff,
    1192px 394px #fff, 505px 237px #fff, 1884px 1566px #fff, 13px 806px #fff,
    1869px 808px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1156px 1267px #fff, 1118px 228px #fff, 873px 1425px #fff,
    58px 1048px #fff, 1154px 212px #fff, 1271px 237px #fff, 1152px 1499px #fff,
    120px 1220px #fff, 1231px 1941px #fff, 250px 768px #fff, 324px 585px #fff,
    494px 1654px #fff, 1492px 256px #fff, 570px 1072px #fff, 1426px 712px #fff,
    1554px 1343px #fff, 579px 147px #fff, 1436px 1601px #fff, 1621px 304px #fff,
    551px 286px #fff, 1332px 1316px #fff, 1229px 1784px #fff, 86px 1048px #fff,
    956px 1724px #fff, 1173px 371px #fff, 1248px 698px #fff, 430px 1668px #fff,
    345px 1599px #fff, 1177px 72px #fff, 59px 1705px #fff, 693px 1073px #fff,
    1504px 1705px #fff, 309px 1304px #fff, 1794px 1700px #fff,
    1770px 1593px #fff, 1309px 1993px #fff, 1811px 896px #fff, 1460px 454px #fff,
    1225px 1934px #fff, 443px 1900px #fff, 17px 1079px #fff, 747px 673px #fff,
    1427px 459px #fff, 1856px 658px #fff, 994px 800px #fff, 907px 1770px #fff,
    264px 1572px #fff, 1407px 517px #fff, 1004px 1927px #fff, 1920px 260px #fff,
    1452px 5px #fff, 1637px 1507px #fff, 1897px 934px #fff, 1478px 1061px #fff,
    365px 961px #fff, 1369px 278px #fff, 264px 113px #fff, 429px 1875px #fff,
    907px 941px #fff, 122px 1265px #fff, 1660px 1384px #fff, 814px 665px #fff,
    383px 974px #fff, 388px 1960px #fff, 343px 41px #fff, 1320px 861px #fff,
    1027px 1646px #fff, 96px 1741px #fff, 1383px 692px #fff, 690px 1045px #fff,
    1140px 968px #fff, 595px 1002px #fff, 353px 187px #fff, 591px 618px #fff,
    1609px 868px #fff, 384px 1784px #fff, 826px 1657px #fff, 579px 325px #fff,
    1524px 1128px #fff, 193px 1051px #fff, 1333px 7px #fff, 887px 658px #fff,
    1732px 1050px #fff, 1286px 1175px #fff, 202px 89px #fff, 1683px 1139px #fff,
    739px 1286px #fff, 838px 1712px #fff, 1237px 1236px #fff, 87px 472px #fff,
    1075px 1885px #fff, 1886px 360px #fff, 780px 957px #fff, 620px 1875px #fff,
    59px 1628px #fff, 1217px 16px #fff, 1292px 149px #fff, 1603px 239px #fff,
    88px 1756px #fff, 1429px 1839px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1156px 1267px #fff, 1118px 228px #fff, 873px 1425px #fff,
    58px 1048px #fff, 1154px 212px #fff, 1271px 237px #fff, 1152px 1499px #fff,
    120px 1220px #fff, 1231px 1941px #fff, 250px 768px #fff, 324px 585px #fff,
    494px 1654px #fff, 1492px 256px #fff, 570px 1072px #fff, 1426px 712px #fff,
    1554px 1343px #fff, 579px 147px #fff, 1436px 1601px #fff, 1621px 304px #fff,
    551px 286px #fff, 1332px 1316px #fff, 1229px 1784px #fff, 86px 1048px #fff,
    956px 1724px #fff, 1173px 371px #fff, 1248px 698px #fff, 430px 1668px #fff,
    345px 1599px #fff, 1177px 72px #fff, 59px 1705px #fff, 693px 1073px #fff,
    1504px 1705px #fff, 309px 1304px #fff, 1794px 1700px #fff,
    1770px 1593px #fff, 1309px 1993px #fff, 1811px 896px #fff, 1460px 454px #fff,
    1225px 1934px #fff, 443px 1900px #fff, 17px 1079px #fff, 747px 673px #fff,
    1427px 459px #fff, 1856px 658px #fff, 994px 800px #fff, 907px 1770px #fff,
    264px 1572px #fff, 1407px 517px #fff, 1004px 1927px #fff, 1920px 260px #fff,
    1452px 5px #fff, 1637px 1507px #fff, 1897px 934px #fff, 1478px 1061px #fff,
    365px 961px #fff, 1369px 278px #fff, 264px 113px #fff, 429px 1875px #fff,
    907px 941px #fff, 122px 1265px #fff, 1660px 1384px #fff, 814px 665px #fff,
    383px 974px #fff, 388px 1960px #fff, 343px 41px #fff, 1320px 861px #fff,
    1027px 1646px #fff, 96px 1741px #fff, 1383px 692px #fff, 690px 1045px #fff,
    1140px 968px #fff, 595px 1002px #fff, 353px 187px #fff, 591px 618px #fff,
    1609px 868px #fff, 384px 1784px #fff, 826px 1657px #fff, 579px 325px #fff,
    1524px 1128px #fff, 193px 1051px #fff, 1333px 7px #fff, 887px 658px #fff,
    1732px 1050px #fff, 1286px 1175px #fff, 202px 89px #fff, 1683px 1139px #fff,
    739px 1286px #fff, 838px 1712px #fff, 1237px 1236px #fff, 87px 472px #fff,
    1075px 1885px #fff, 1886px 360px #fff, 780px 957px #fff, 620px 1875px #fff,
    59px 1628px #fff, 1217px 16px #fff, 1292px 149px #fff, 1603px 239px #fff,
    88px 1756px #fff, 1429px 1839px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
