.container {
  background-color: #2d333b;
}

.backgroundCircle {
  background-color: #cdd9e5;

  height: 250px;
  width: 250px;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.head {
  background-color: #2d333b;

  width: 138px;
  height: 107px;

  border-radius: 46% 46% 46% 45% / 53% 53% 44% 44%;
}

.body {
  background-color: #2d333b;

  width: 68.93px;
  height: 70px;

  border-radius: 35% 32% 0% 0% / 57% 58% 0% 0%;
}

.leftEar {
  background-color: #2d333b;

  height: 35px;
  width: 39px;

  border-radius: 5% 88% 0 18% / 4% 22% 0 88%;

  transform: translate(6px, -3px) rotate(13deg);
}

.rightEar {
  background-color: #2d333b;

  height: 35px;
  width: 39px;

  border-radius: 5% 88% 0 18% / 4% 22% 0 88%;

  transform: translate(91px, -39px) scaleX(-1) rotate(13deg);
}

.tail {
  /* transform: translate(-50px, 2px); */
  width: 124px;
  position: absolute;
  height: 55px;
  margin-top: 56px;
  margin-left: -103px;
  transform: rotate(18deg);
  border-radius: 50%;
  box-shadow: 10px 25px 0 0 #2d333b;
}
