.container{
  background: #00bfb6;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cup {
  width: 150px;
  height: 150px;
  background: #111;
  border-radius: 5px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3),
              inset -2px -2px 3px 1px rgba(0, 0, 0, .2);
  position: relative;
}

.handle {
  position: absolute;
  width: 30px;
  height: 75px;
  right: -19px;
  top: 55px;
  border: 10px solid #111;
  border-left: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3),
    inset -2px -2px 3px 1px rgba(0, 0, 0, .2);
}
h3{
  color: #fff;
  text-align: center;
  padding-top: 1rem;
}
span{
  color: #fdd47a;;
}
.smoke:before {
  position: absolute;
  content: "";
  background: transparent;
  width: 145px;
  height: 30px;
  top: -35px;
  box-shadow: 0px 25px 20px -9px #e5e5e5;
  opacity: 0;
  animation: smoke 4s linear infinite;
  transition: 0.5s linear;
}

.smoke:after {
  position: absolute;
  content: "";
  background: transparent;
  width: 145px;
  height: 30px;
  top: -35px;
  box-shadow: 0px 25px 20px -9px #e5e5e5;
  opacity: 0;
  animation: smoke1 4s linear 2s infinite;
  transition: 0.5s linear;
}

@keyframes smoke {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-35px);
    opacity: 1;
  }
  70% {
    transform: translateY(-55px);
    opacity: 1;
    width: 75%;
    margin-left: 20px;
  }

  100% {
    transform: translateY(-115px);
    opacity: 0.2;
    width: 20%;
    margin-left: 40px;
  }
}

@keyframes smoke1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-45px);
    opacity: 1;
  }
  70% {
    transform: translateY(-65px);
    opacity: 1;
    width: 50%;
    margin-left: 30px;
  }

  100% {
    transform: translateY(-145px);
    opacity: 0.2;
    width: 0%;
    margin-left: 60px;
  }
}





