.container {
    background-color: #34588e;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

  }
  .pepsi{
      border-radius: 50%;
      height: 150px;
      width: 150px;
      border: 10px solid white;
      overflow: hidden;
      position: relative;
  }

  .pepsi:after{
      border-radius: 50%;
      background-color: #da473c;
      height: 150px;
      width: 150px;
      content: "";
      position: absolute;
      top: -40px;
      left: -40px;
      z-index: 2;
  }
