.container {
  background-color: lightsteelblue;
}

.outBox{
  width: 180px;
  height: 180px;
  /* background-color: teal; */
}

.outCircle{
  width: 160px;
  height: 160px;
  border-radius: 160px;
  border: 20px solid black;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}

.outLineVertical{
  width:50px;
  height:100px;
  border-radius: 130px;
  background-color:lightsteelblue;
  position: absolute;
  margin-left: 65px;
  z-index: 1;
}

.insideLineVertical{
  width:30px;
  height:100px;
  border-radius: 130px;
  background-color:black;
  position: absolute;
  margin-left: 10px;
}
